theme "sagewood"

themes {
    sagewood {
        fg "#d2ded7"
        bg "#2d3833"
        black "#222a26"
        red "#d99c82"
        green "#a8b59b"
        yellow "#d6caa3"
        blue "#8da7b3"
        magenta "#caacc2"
        cyan "#9bb5b1"
        white "#d2ded7"
        orange "#d99c82"
    }
}
